table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.colspan{
    height: 15px;
    text-align: center;
}
img{
    height: 80px;
    width: 80px;
}